/*
//---------------------------------------------------
// Cheng Yun Chueng 1155109570
// Wong Kong Wa 1155127049
// Chow Wang Faat 1155115793
// Lau Pak Hei Anson 1155158646
//---------------------------------------------------
*/

.favourite-place-table {
    height    : auto;
    margin-top: 1.5rem;
    width     : "100%";
    box-shadow:
        1em 1em 3em rgba(0, 0, 0, 0.1),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}

.favourite-cell {
    overflow   : scroll;
    padding-top: 1rem;
}