/*
//---------------------------------------------------
// Cheng Yun Chueng 1155109570
// Wong Kong Wa 1155127049
// Chow Wang Faat 1155115793
// Lau Pak Hei Anson 1155158646
//---------------------------------------------------
*/

.hospital-detail-map {
    margin-top: 1rem;
    width     : 100%;
    height    : calc(100vh - 7rem);
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.hospital-detail-rest {
    margin-top      : 1rem;
    width           : 100%;
    /* height       : calc(100vh - 7rem); */
    /* height       : calc(100vh - 7rem); */

}

.hospital-detail-info {
    box-shadow:
        1em 1em 3em rgba(0, 0, 0, 0.1),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

    overflow-y: scroll;


}

.hospital-detail-info-header,
.hospital-detail-comment-title {
    background-color: #28c19e;
    color           : white;
    padding         : 1em;
}

.hospital-detail-info-header h4,
.hospital-detail-comment-title h4 {
    margin: 0;
}


@media (max-width: 992px) {
    .hospital-detail-map {
        min-width: 100%;
        height   : 50vh !important;
    }

    .hospital-detail-comment-area {
        max-height: 60vh !important;
    }
}

@media (min-width: 992px) {
    .hospital-detail-info {
        height: calc(100vh - 7rem);
    }
}

.hospital-detail-info-table {
    background: #fff;
    padding   : 1em 1em;
    color     : #777777;
}

.hospital-detail-info-table tbody,
.hospital-detail-info-table table {
    width: 100%;
}


.hospital-detail-info-table td {
    text-align: right;
}

.hospital-detail-info-table td,
.hospital-detail-info-table th {
    padding: .2em 0em;
}

.hospital-detail-info-chartswrapper {
    padding      : 1em 1em;
    /* max-height: 30vh; */
}

.hospital-detail-info-chart {
    /* min-width: 10vw;
    min-height: 20vh; */
    /* max-width: 400px; */
    min-width : 90%;
    margin-top: 5vh;
}

.hospital-detail-info-chart-titleWrapper {
    margin : auto;
    display: flex;
}

.hospital-detail-info-chart-title {
    margin: auto;
}

.hospital-detail-comment-area {
    margin-top: 1em;
    max-height: calc(50vh);
    overflow  : auto;
}

.hospital-detail-comment {
    box-shadow:
        1em 1em 3em rgba(0, 0, 0, 0.1),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

    /* padding: 0; */
}

#comment-form {
    padding: 0em 1em;
}

#comment-form textarea {
    margin-top: 1em;
}

#comment-form button {
    margin-top   : .3em;
    margin-bottom: 1em;
    width        : 100%;
}


.hospital-detail-comment-box {
    margin: 0em 1em;
}

.hospital-detail-comment-icon {
    color        : #2D6D4B;
    width        : 45px !important;
    height       : 45px !important;
    margin-top   : 0;
    margin-right : .1em;
    margin-left  : .1em;
    margin-bottom: .5em;
}

.hospital-detail-comment-body {
    width        : 100%;
    border-bottom: 1px solid #bcbcbc;
}

.hospital-detail-comment-author {
    font-weight: 600;
}

.hospital-detail-comment-date {
    font-size: x-small;
}

.hospital-detail-comment-conent {
    color: #777777;

}

.btn-success:hover {
    color           : #fff;
    background-color: #157347;
    border-color    : #146c43;
}