/*
//---------------------------------------------------
// Cheng Yun Chueng 1155109570
// Wong Kong Wa 1155127049
// Chow Wang Faat 1155115793
// Lau Pak Hei Anson 1155158646
//---------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

/* body {
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    color: #c4c3ca;
    color: white;
    width: 100%;
    height: max-content;
} */

/* icon */

.bg-login {    
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    /* color: #c4c3ca; */
    color: white;
    width: 100%;
    height: max-content;
    
    background-image: url("../images/login_background_1.jpg");
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
    display: inline-block;


}

#filter {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 0;

    /* background-image: radial-gradient(#000000b6, #ffffff00); */
    transition: ease 500ms all;
    /* background-image: linear-gradient(to top, rgba(19, 21, 25, 0.1), rgba(19, 21, 25, 0.1)), url("../images/overlay.png"); */
    /* background-image: url("overlay.png"); */
    /* background-color: rgba(19, 21, 25, 0.5); */
}

.blur {
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    /* background-image: radial-gradient(#000000e6, #ffffff00) !important; */
}

.semi-blur {
    backdrop-filter: blur(3px);
    /* -webkit-backdrop-filter: blur(3px); */
}

#permId {
    font-size: 10rem;
    color: white;
    border: 10px white solid;
    border-radius: 100%;
}

.hoveredId {
    color: #268785 !important;
    border: 10px #268785 solid !important;
    transition: ease 800ms all !important;
}


/* arrow */

.container {
    margin-top: -10em;
}

#container {
    /* width: auto;
    border-radius: 10px;
    box-shadow: 0 3px 28px rgb(255 255 255 / 25%), 0 2px 5px rgb(255 255 255 / 22%); */
}

h6 span {
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
}

#roll-arrow {
    cursor: pointer;
    margin: 10px auto;
    position: relative;
    border-radius:8px;
    width: 60px;
    height: 16px;
    background-color: #FCFAF2;
}

#arrow-wrapper {
    position: absolute;
    top: -10px;
    left: -7px;

    transition: all 0.5s ease;
}

.original-arrow-wrapper {
    transform: rotate(45deg);
}

.rotated-arrow-wrapper {
    transform:translateX(44px)
}


#arrow {
    padding: 3px;
    border-radius:50%;
    width: 36px;
    height: 36px;
    color: #FCFAF2;
    background-color:#268785;
    transition: all 0.5s ease;

}

.rotated-arrow{
    transform: rotateZ(-225deg) ;
}



/* form */

.card-3d-wrap {
    position: relative;
    width: auto;
    max-width: 400px;
    /* max-width: 100%; */
    height: 380px;
    /* max-height: 380px; */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 1800px;
    transform: perspective(1000px);
    
    z-index: 20;

}

.card-3d-wrapper {
    -webkit-user-select: none;
    user-select: none;

}

.front, .back {

    width: 100%;
    height: 100%;
    background-color: #26878563;
    /* background-color:rgba(45, 52, 54, 1.0); */
    /* background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg'); */
    /* -webkit-mask: url("../images/pat.svg") no-repeat center center / contain; */
    /* background-position: bottom center; */
    /* background-repeat: no-repeat; */
    /* background-size: 300%; */
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 600ms ease-out;
    -webkit-transition: all 600ms ease-out;
}

.back {
    transform: rotateY(-180deg);
}

.back-rotate{
    transform: rotateY(0deg);
}

.front-rotate{
    transform: rotateY(180deg);
}


.front:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.637);
    -webkit-mask: url("../images/pat.svg");
    -webkit-mask-size: 300%;
    -webkit-mask-position: bottom center;

}

.width-auto {
    width: auto;
}

.input-group span{
    color: white;
    border: none;
    background-color: transparent;
}


/* , .input-group input:focus , .input-group input:active */

.input-group input:focus{
    color: white;
    background-color: transparent;
    /* box-shadow: none; */
    box-shadow: 0px 10px 0px -7px #0F4C3A, 0px 10px 0px -7px #0F4C3A !important;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;


}

.input-group input{
    caret-color:white;
    border: none;
    box-shadow: none;
    background-color: transparent;

    font-weight:500;    
    width: 100%;
    border-radius: 4px;
    letter-spacing: 0.5px;
    outline: none;
    color: white;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    /* box-shadow: 0 4px 8px 0 rgba(21,21,21,.2); */
    box-shadow: 0px 10px 0px -7px #fcfaf2c2, 0px 10px 0px -7px #fcfaf2c2;

}

.input-group input::placeholder {
    color: #fcfaf2c2;
}

.btn {
    border: 2px solid;

}

.effect-3d {

    /* transform: translateZ(5px);
    backface-visibility: hidden; */
}

.btn:hover{
    color: #268785;
}

